{% load i18n %}
{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Truck Service Center  </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="png" href="{% static 'img/logo.png' %}">

    <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header style="background-color: beige;">
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" style="max-width: 100px;"></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>                                                
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a  href="{% url 'home' %}">{% trans "Asosiy" %}</a></li>
                                            <li><a  href="{% url 'about' %}">{% trans "Biz haqimizda" %}</a></li>
                                            <li><a  href="{% url 'custom' %}">{% trans "Narxlar" %}</a>
                                            <li><a  href="#">{% trans "Servis" %}</a>
                                            <li><a  href="{% url 'part' %}">{% trans "Ehtiyot qisimlari" %}</a>
                                            <li><a style="color: red" href="{% url 'dmax' %}">{% trans "D-max" %}</a>
                                            <li><a  href="#">
                                                {% if request.LANGUAGE_CODE == "uz" %}
                                                    O'z <img src="{% static 'img/uz.png' %}" style="max-width: 20px;" alt="">
                                                    {% elif request.LANGUAGE_CODE == "ru" %}
                                                    Ру <img src="{% static 'img/ru.png' %}" style="max-width: 20px;" alt="">
                                                    {% elif request.LANGUAGE_CODE == "en" %}
                                                    En <img src="{% static 'img/en.png' %}" style="max-width: 20px;" alt="">
                                                {% endif %}                                              
                                                </a>
                                                <ul class="submenu" style="background-color: rgba(245, 245, 220, 0.57);">
                                                        <!-- Ruscha til uchun -->
                                                        <li>
                                                          <form action="{% url 'set_language' %}" method="post" style="display: inline;">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="language" value="ru">
                                                            <button type="submit"
                                                              style="background: none; border: none; padding: 0; cursor: pointer; display: flex; align-items: center;">
                                                              <span style="margin-right: 5px; color: black;">{% trans "Ruscha" %}</span>
                                                              <img src="{% static 'img/ru.png' %}" style="max-width: 20px;" alt="">
                                                            </button>
                                                          </form>
                                                        </li>
                                            
                                                        <!-- Inglizcha til uchun -->
                                                        <li>
                                                          <form action="{% url 'set_language' %}" method="post" style="display: inline;">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="language" value="en">
                                                            <button type="submit"
                                                              style="background: none; border: none; padding: 0; cursor: pointer; display: flex; align-items: center;">
                                                              <span style="margin-right: 5px; color: black;">{% trans "Inglizcha" %}</span>
                                                              <img src="{% static 'img/en.png' %}" style="max-width: 20px;" alt="">
                                                            </button>
                                                          </form>
                                                        </li>
                                            
                                                        <!-- O'zbekcha til uchun -->
                                                        <li>
                                                          <form action="{% url 'set_language' %}" method="post" style="display: inline;">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="language" value="uz">
                                                            <button type="submit"
                                                              style="background: none; border: none; padding: 0; cursor: pointer; display: flex; align-items: center;">
                                                              <span style="margin-right: 5px; color: black;">{% trans "O'zbekcha" %}</span>
                                                              <img src="{% static 'img/uz.png' %}" style="max-width: 20px;" alt="">
                                                            </button>
                                                          </form>
                                                        </li>
                                                      </ul>
                                            </li>
                                                
                                        </ul>
                                    </nav>
                                </div>
                            </div> 
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" name="Search" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="fas fa-search special-tag"></i>
                                            </div>
                                        </div>
                                     </li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>



<style>
    .slider-area{
    background-image: url("{% static 'img/dmaxh.jpg' %}"); 
    background-size: cover; /* Rasmni moslashtirish uchun */
    background-position: center; /* Markazda joylashishi uchun */
    background-repeat: no-repeat; /* Takrorlanmasligi uchun */
}
</style>
    <!-- slider Area Start-->
    <div class="slider-area">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" style="max-height: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <img src="{% static 'img/dmax.png' %}" style="max-width: 100%;" alt="">
                        </article>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <img src="{% static 'img/max.jpg' %}" style="max-width: 100%;">
            </div>
        </div>
    </section>

    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <img src="{% static 'img/max2.jpg' %}" style="max-width: 100%;">
            </div>
        </div>
    </section>


    <footer>

        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <!-- Footer bottom -->
                <div class="row">
                 <div class="col-xl-7 col-lg-7 col-md-7">
                     <div class="footer-copy-right">
                         <p> &copy; Truck Service  Center | {% trans "Barcha huquqlar himoyalangan."%}</div>
   
                 </div>
                  <div class="col-xl-5 col-lg-5 col-md-5">
                     <div class="footer-copy-right f-right">
                         <!-- social -->
                         <div class="footer-social">
                             <a href="#"><i class="fab fa-twitter"></i></a>
                             <a href="#"><i class="fab fa-facebook-f"></i></a>
                             <a href="#"><i class="fab fa-behance"></i></a>
                             <a href="#"><i class="fas fa-globe"></i></a>
                         </div>
                     </div>
                 </div>
             </div>
            </div>
        </div>
        <!-- Footer End-->
 
    </footer>
    
     <!-- JS here -->
     
         <!-- All JS Custom Plugins Link Here here -->
         <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
         <!-- Jquery, Popper, Bootstrap -->
         <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
         <script src="{% static 'js/popper.min.js' %}"></script>
         <script src="{% static 'js/bootstrap.min.js' %}"></script>
         <!-- Jquery Mobile Menu -->
         <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
 
         <!-- Jquery Slick , Owl-Carousel Plugins -->
         <script src="{% static 'js/owl.carousel.min.js' %}"></script>
         <script src="{% static 'js/slick.min.js' %}"></script>
 
         <!-- One Page, Animated-HeadLin -->
         <script src="{% static 'js/wow.min.js' %}"></script>
         <script src="{% static 'js/animated.headline.js' %}"></script>
         <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
 
         <!-- Scrollup, nice-select, sticky -->
         <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
         <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
         <script src="{% static 'js/jquery.sticky.js' %}"></script>
         
         <!-- contact js -->
         <script src="{% static 'js/contact.js' %}"></script>
         <script src="{% static 'js/jquery.form.js' %}"></script>
         <script src="{% static 'js/jquery.validate.min.js' %}"></script>
         <script src="{% static 'js/mail-script.js' %}"></script>
         <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
         
         <!-- Jquery Plugins, main Jquery -->	
         <script src="{% static 'js/plugins.js' %}"></script>
         <script src="{% static 'js/main.js' %}"></script>
 
</body>
</html>